body{
margin:0;
padding:0;
background-image:url('rey.jpg');
background-size:cover;
background-position:cover;
font-family:sans-serif;
}
.loginbox{
width:320px;
height:420px;
background:#000;
color:#fff;
top:50%
left:50%;
position:absolute;
transform:translate(-50%,-50%)
box-sizing:border-box;
}
.rey{
width:100px;
height:100px;



